{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }}
Car Offer
{% endblock %}

{% block body %}
                <h1><span>Offer List</h1>
                <h3>List of our cars</h3>

                <table class="table">
                    <tr>
                        <th>Mark</th>
                        <th>Model</th>
                        <th>Info</th>
                    </tr>
                    {% for car in cars %}
                        <tr>
                            <td>{{ car.make }} </td>
                            <td>{{ car.name }} </td>
                            <td><a href="{{url( 'show_car', {id: car.id} ) }}">Show details</a></td>
                        </tr>
                    {% endfor %}
                </table>

{% endblock %}



